src/main/resources/xsd/v3.0.0/A1A-106_Anlage_4_Entsendung-3.0.0.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Mit XMLSpy v2022 rel. 2 (x64) (http://www.altova.com) von Björn Scharatta (GKV Spitzenverband) bearbeitet -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.gkv-datenaustausch.de/XMLSchema/A1A-106_Anlage_4/3.0" xmlns:a1b="http://www.gkv-datenaustausch.de/XMLSchema/106-Basis/1.0" xmlns:svb="SV-Basis://XMLSchema/1.0" targetNamespace="http://www.gkv-datenaustausch.de/XMLSchema/A1A-106_Anlage_4/3.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.gkv-datenaustausch.de/XMLSchema/106-Basis/1.0" schemaLocation="106-Basis-1.0.0.xsd"/>
	<xs:import namespace="SV-Basis://XMLSchema/1.0" schemaLocation="SV-Basis-1.0.0.xsd"/>
	<xs:element name="A1_Antrag_Entsendung">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Steuerungsdaten" type="a1b:Steuerungsdaten_Ag_V3_Ctp"/>
				<xs:element name="Angaben_Zur_Person_A1" type="a1b:Angaben_Zur_Person_AbhBesch_Mitgl_Ctp">
					<xs:annotation>
						<xs:documentation>Angaben zum Arbeitnehmer</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Angaben_Entsendung">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Grunddaten_Entsendung">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Mitgliedsstaat_Flaggenstaat" type="svb:StaatSchluessel_Stp">
											<xs:annotation>
												<xs:documentation>Verschluesslung des Mitgliedstaates anhand des Laenderschluessels der Anlage 8 des gemeinsamen Rundschreibens "Meldeverfahren zur Sozialversicherung".</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element ref="a1b:Beginn"/>
										<xs:element ref="a1b:Ende"/>
										<xs:element name="Taetigkeit" type="a1b:Taetigkeitsschluessel_A1_Stp">
											<xs:annotation>
												<xs:documentation>Die Taetigkeitsbeschreibung ist anhand der ersten 5 Stellen des Taetigkeitsschluessels der Bundesagentur fur Arbeit vorzunehmen.</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Angaben_Zur_Beschaeftigungsstelle">
								<xs:complexType>
									<xs:choice>
										<xs:element name="Beschaeftigungsstelle" maxOccurs="11">
											<xs:annotation>
												<xs:documentation>Sofern eine feste Beschaeftigungsstelle vorhanden ist, sind nachfolgende Angaben zu uebermitteln. </xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Name" type="a1b:Name_Ag_Stp">
														<xs:annotation>
															<xs:documentation>Hier ist der Firmaname der auslaendischen Beschaeftigungsstelle einzutragen.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Anschrift_Beschaeftigungsstelle" type="a1b:Anschrift_Ohne_Ldkz_Ctp">
														<xs:annotation>
															<xs:documentation>Angaben zur Anschrift der Beschaeftigungsstelle </xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Keine_Feste_Beschaeftigungsstelle" type="a1b:Kennzeichen_Alphanumerisch_J_Stp">
											<xs:annotation>
												<xs:documentation>Sofern die Beschaeftigung im Ausland an keiner festen Beschaeftigungsstelle ausgeuebt wird, sind keine weiterne Angaben zu uebermitteln. Das Element ist mit dem Wert "J" zu befuellen.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element ref="a1b:Schiff"/>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<xs:element name="Angaben_Entsendung_Arbeitnehmer">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Zeitraum_Entsendung" minOccurs="0" maxOccurs="5">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Beginn_Ez" type="svb:Datum_Stp"/>
													<xs:element name="Ende_Ez" type="svb:Datum_Stp"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="An_Ueberlassung" type="a1b:Kennzeichen_Alphanumerisch_Stp">
											<xs:annotation>
												<xs:documentation>Angabe, ob es sich um ein Ueberlassung handelt. Zulaessig sind "J" und "N".</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="An_Abloesung" type="a1b:Kennzeichen_Alphanumerisch_Stp">
											<xs:annotation>
												<xs:documentation>Angabe, ob ein anderer Arbeitnehmer abgeloest werden soll. Zulaessig sind "J" und "N".</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Angaben_Abgeloeste_Person" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Sofern ein Arbeitnehmer abgeloest werden soll, sind nachfolgende Angaben zu uebermitteln. </xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Name" type="a1b:Angaben_Name_Ctp"/>
													<xs:element name="Geburtsdatum" type="svb:Geburtsdatum_unbekannt_Stp"/>
													<xs:element name="Beginn_Gez" type="svb:Datum_Stp"/>
													<xs:element name="Ende_Gez" type="svb:Datum_Stp"/>
													<xs:element name="Beginn_Tez" type="svb:Datum_Stp"/>
													<xs:element name="Ende_Tez" type="svb:Datum_Stp"/>
													<xs:element name="Grund" type="a1b:Kennzeichen_Numerisch_1_2_3_Stp">
														<xs:annotation>
															<xs:documentation>Es sind nachfolgende Gruende zulaessig:
1 = Erkrankung der zuvor entsandten Person
2 = Kündigung der zuvor entsandten Person
3 = betriebsbedingter Personalwechsel</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Angaben_Beschaeftigung_Deutschland">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Angaben_Arbeitsverhaeltnis">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Taetigkeit" type="a1b:Taetigkeitsschluessel_A1_Stp"/>
										<xs:element ref="a1b:Geringfuegige_Beschaeftigung"/>
										<xs:element name="Geltung" type="a1b:Kennzeichen_Alphanumerisch_Stp"/>
										<xs:element name="Eg_Anspruch" type="a1b:Kennzeichen_Alphanumerisch_Stp"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Verantwortlichkeit_Ag">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Anwerbung" type="a1b:Kennzeichen_Alphanumerisch_Stp"/>
										<xs:element name="Arbeitsvertrag" type="a1b:Kennzeichen_Alphanumerisch_Stp"/>
										<xs:element name="Entlassung" type="a1b:Kennzeichen_Alphanumerisch_Stp"/>
										<xs:element name="Aufgaben" type="a1b:Kennzeichen_Alphanumerisch_Stp"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Angaben_Arbeitgeber_Deutschland">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Grunddaten">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Name" type="a1b:Name_Ag_Stp">
											<xs:annotation>
												<xs:documentation>Hier ist Name des Arbeitgebers einzutragen.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Anschrift_Arbeitgeber" type="a1b:Anschrift_Ctp">
											<xs:annotation>
												<xs:documentation>Angaben zur Anschrift des Arbeitgebers.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element ref="a1b:Telefonnummer"/>
										<xs:element ref="a1b:Email_Adresse" minOccurs="0"/>
										<xs:element ref="a1b:Rechtsform"/>
										<xs:element ref="a1b:Bbnr_Vu"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Angaben_Geschaeftstaetigkeit">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Umsatzanteil" type="a1b:Kennzeichen_Alphanumerisch_Stp">
											<xs:annotation>
												<xs:documentation>Erwirtschaftet das Unternehmen mehr als 25% seines Umsatzes in Deutschland.
J = Ja
N = Nein</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Personal" type="a1b:Kennzeichen_Alphanumerisch_Stp">
											<xs:annotation>
												<xs:documentation>Sind mehr als 25% der Arbeitnehmer in Deutschland  taetig?
J = Ja
N = Nein</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Wirtschaftssektor" type="a1b:Wirtschaftssektoren_Stp"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Erklaerung_Arbeitgeber">
					<xs:annotation>
						<xs:documentation>Der Arbeitgeber erklaert ausdruecklich, dass alle Angaben den tatsaechlichen Verhaeltnissen entsprechen. </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Angaben" type="a1b:Kennzeichen_Alphanumerisch_J_Stp">
								<xs:annotation>
									<xs:documentation>Mit der Antragstellung erklärt der Arbeitgeber ausdrücklich, dass alle Angaben den tatsächlichen Verhältnissen entsprechen.

J = Ja</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="Versionsnummer" type="svb:Versionsnummer_Stp" use="required" fixed="3.0.0">
				<xs:annotation>
					<xs:documentation>Es ist nur der Wert 3.0.0 zulaessig</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>