src/main/resources/xsd/v2.0.0/Basistypen_Complex_A1_V1_0_0.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Mit XMLSpy v2021 rel. 3 (x64) (http://www.altova.com) von GKV-Spitzenverband (GKV Spitzenverband) bearbeitet -->
<!--Stand: 28.02.2019-->
<!--Aufnahme Name_Ergaenzung_v2_Ctp-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.gkv-datenaustausch.de/Grundsaetze_Technik/XML/Basistypen_Complex_A1/1.0" xmlns:btst="http://www.gkv-datenaustausch.de/Grundsaetze_Technik/XML/Basistypen_Simple_A1/1.0" xmlns:ns1="http://www.gkv-datenaustausch.de/Grundsaetze_Technik/XML/Basistypen_Complex_A1/1.0" targetNamespace="http://www.gkv-datenaustausch.de/Grundsaetze_Technik/XML/Basistypen_Complex_A1/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.gkv-datenaustausch.de/Grundsaetze_Technik/XML/Basistypen_Simple_A1/1.0" schemaLocation="Basistypen_Simple_A1_V1_0_0.xsd">
		<xs:annotation>
			<xs:documentation> Importieren von GKV weit gültigen Datentypen</xs:documentation>
		</xs:annotation>
	</xs:import>
	<xs:import namespace="http://www.gkv-datenaustausch.de/Grundsaetze_Technik/XML/Basistypen_Simple_A1/1.0" schemaLocation="Basistypen_Simple_A1_V1_0_0.xsd">
		<xs:annotation>
			<xs:documentation> Importieren von GKV weit gültigen Datentypen</xs:documentation>
		</xs:annotation>
	</xs:import>
	<xs:complexType name="Angaben_Name_Ctp">
		<xs:annotation>
			<xs:documentation>Beschreibung der Namensbestandteile</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Geschlecht" type="btst:Kennzeichen_MWX_Typ">
				<xs:annotation>
					<xs:documentation>Geschlecht der Person mit folgenden Auspraegungen: m = maennlich, 
w = weiblich, 
x = unbestimmt,
d = divers</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Vorname" type="btst:Vorname_Typ">
				<xs:annotation>
					<xs:documentation>Vorname der Person </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Familienname" type="btst:Familienname_Typ">
				<xs:annotation>
					<xs:documentation>Familienname der Person</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Vorsatzwort" type="btst:Vorsatzwort_Typ" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Vorsatzwort der Person. Eine Aufstellung der zulaessigen Vorsatzworte ist der Anlage 6 des gemeinsamen Rundschreibens "Meldeverfahren zur Sozialversicherung".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Namenszusatz" type="btst:Namenszusatz_Typ" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Namenszusatz der Person. Eine Aufstellung der zulaessigen Namenszusaetze ist der Anlage 7 des gemeinsamen Rundschreibens "Meldeverfahren zur Sozialversicherung".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Namenstitel" type="btst:Namenstitel_Typ" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Titel der Person (z.B. Prof.) </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Anschrift_Ctp">
		<xs:annotation>
			<xs:documentation>Beschreibung einer Anschrift einer Person oder Firma mit KDKZ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Strasse" type="btst:Strasse_Typ" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Angabe zur Strasse der Person</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Hausnummer" type="btst:Hausnummer_Typ" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Hausnummer der Person.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Adresszusatz" type="btst:Adresszusatz_Typ" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Anschriftenzusatz der Person.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Postleitzahl" type="btst:Postleitzahl_Typ">
				<xs:annotation>
					<xs:documentation>Postlleitzahl des Ortes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ort" type="btst:Ort_Typ">
				<xs:annotation>
					<xs:documentation>Angabe zum Ort.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Laenderschluessel" type="btst:Laendercode_Typ">
				<xs:annotation>
					<xs:documentation>Laenderschluessel des Ortes laut Anlage 8 des Gemeinsamen Rundschreibens "Meldeverfahren zur Sozialversicherung"</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Anschrift_ohne_LDKZ_Ctp">
		<xs:annotation>
			<xs:documentation>Beschreibung einer Anschrift einer Person oder Firma ohne LDKZ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Strasse" type="btst:Strasse_Typ" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Angabe zur Strasse der Person</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Hausnummer" type="btst:Hausnummer_Typ" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Hausnummer der Person.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Adresszusatz" type="btst:Adresszusatz_Typ" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Anschriftenzusatz der Person.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Postleitzahl" type="btst:Postleitzahl_Typ">
				<xs:annotation>
					<xs:documentation>Postleitzahl des Ortes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ort" type="btst:Ort_Typ">
				<xs:annotation>
					<xs:documentation>Angabe zum Ort.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Name_Ergaenzung_v3_Ctp">
		<xs:annotation>
			<xs:documentation>Beschreibung der Geburtsangaben, Versicherungsnummer und Staatsangehoerigkeit</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Geburtsname" type="btst:Geburtsname_Typ" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Geburtsname der Person</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Geburtsdatum" type="btst:Geburtsdatum_unbekannt_Typ">
				<xs:annotation>
					<xs:documentation>Geburtsdatum der Person in der Form: jjjj-mm-tt
Bei ausländischen Staatsbürgern kann der Tag oder Monat der Geburt unbekannt sein. In diesen Fällen ist der Tag oder Monat mit "00" anzugeben. Bei der Ausstellung einer Bescheinigung, wird das Geburtsdatum auf 01.01. verändert, damit eine Nutzung im Rahmen des europäischen Datenaustausches erfolgen kann</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Geburtsort" type="btst:Ort_Typ">
				<xs:annotation>
					<xs:documentation>Geburtsort der Person</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Geburtsland" type="btst:Laendercode_Typ">
				<xs:annotation>
					<xs:documentation>Geburtsland des Arbeitnehmers nach Anlage 8 des gemeinsamen Rundschreibens "Meldeverfahren zur Sozialversicherung". </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Versicherungsnummer" type="btst:VSNR_Typ" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Versicherungsnummer des Arbeitnehmers in der Form: bbttmmjjassp</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Staatsangehoerigkeit" type="btst:Laendercode_Typ">
				<xs:annotation>
					<xs:documentation>Dabei handelt es sich um den Staatsangehoerigkeitsschluessel des Arbeitnehmers nach Anlage 8 des gemeinsamen Rundschreibens "Meldeverfahren zur Sozialversicherung".</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Schriftwechsel_Kontakt">
		<xs:annotation>
			<xs:documentation>Angaben zum Schriftwechsel bei Anträgen an die DVKA</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Schriftwechsel">
				<xs:annotation>
					<xs:documentation>Der Ansprechpartner kann wie folgt ausgeprägt sein:
1 = Schriftwechsel mit dem Arbeitgeber / Kontaktperson
2 = Schriftwechsel mit der bevollmaechtigten Stelle
</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="btst:Art_Kontaktadresse_Typ">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Bezeichnung_Bevollmaechtigte_Stelle" type="btst:Name_AG_Typ" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Hier ist die aktuelle Firmenbezeichnung der bevollmächtigten Stelle anzugeben,</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Postalischer_Kontakt" type="ns1:Anschrift_Ctp" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Angaben zur Anschrift der Kontaktperson</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Aktenzeichen_Kontakt" type="btst:Aktenzeichen_Typ" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Hier ist das Aktenzeichen der fuer den Schriftwechsel mit dem Ansprechpartner anzugeben.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Elektronischer_Kontakt" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Telefonnummer" type="btst:Rufnummer_Typ">
							<xs:annotation>
								<xs:documentation>Rufnummer des Ansprechpartners nach DIN 5008:
Die Telefonnummer ist funktionsbezogen durch je ein Leerzeichen zu gliedern, vor der Durchwahlnummer steht ein Bindestrich.
Beispiele:
Einzelanschluss
04404 912145
Durchwahlanschluss
04401 922-122
International
+49 4401 922-131
(Die laenderbezogene Zusatznummer sollte durch das Zeichen + vor der Landesvorwahl dargestellt werden (z.B. statt 0049 besser +49).</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="E_Mail" type="btst:Email_Typ" minOccurs="0">
							<xs:annotation>
								<xs:documentation>E-Mail Adresse des Arbeitgebers.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Steuerungsdaten_106a_Ctp">
		<xs:annotation>
			<xs:documentation>Steuerungsdaten ohne Vorgangs-ID und Stornogrund</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Absendernummer" type="btst:Absendernummer_Typ">
				<xs:annotation>
					<xs:documentation>Dabei handelt es sich um die Absendernummer der absendenden Stelle. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Empfaengernummer" type="btst:Absendernummer_Typ">
				<xs:annotation>
					<xs:documentation>In diesem Feld ist die Absendernummer der zustaendigen Stelle einzutragen. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Datum_Erstellung" type="btst:Datum_Zeit_Typ">
				<xs:annotation>
					<xs:documentation>Angabe des Erstelldatums der Meldung.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Datensatz_ID">
				<xs:annotation>
					<xs:documentation>Datensatz_ID analog der Ausgestaltung der uebrigen Meldeverfahren der Arbeitgeber. </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="btst:DatensatzID_Typ"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Aktenzeichen_Verursacher" type="btst:Aktenzeichen_Verursacher_Typ">
				<xs:annotation>
					<xs:documentation>Das Aktenzeichen Versursacher steht dem Arbeitgeber zur freien Verfügung.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Stornierung" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Stornokennzeichen" type="btst:Stornokennzeichen_Typ">
							<xs:annotation>
								<xs:documentation>Kennzeichen zur Stornierung der Meldung. Fuer eine Stornierung ist das Kennzeichen "J"zu uebermitteln. </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Datensatz_ID_Ursprungsmeldung" type="btst:DatensatzID_Typ"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Steuerungsdaten_AG_v2_Ctp">
		<xs:annotation>
			<xs:documentation>Steuerungsdaten für die DVKA mit Vorgangs-ID und Stornogrund</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Absendernummer" type="btst:Absendernummer_Typ">
				<xs:annotation>
					<xs:documentation>Dabei handelt es sich um die Absendernummer der absendenden Stelle. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Empfaengernummer" type="btst:Absendernummer_Typ">
				<xs:annotation>
					<xs:documentation>In diesem Feld ist die Absendernummer der zustaendigen Stelle einzutragen. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Datum_Erstellung" type="btst:Datum_Zeit_Typ">
				<xs:annotation>
					<xs:documentation>Angabe des Erstelldatums der Meldung.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Prod_ID" type="btst:Prod_ID_Typ">
				<xs:annotation>
					<xs:documentation>Hier ist die Prod-ID des Entgeltabrechnungsprogramms oder der Ausfuellhilfe einzutragen.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Mod_ID" type="btst:Mod_ID_Typ">
				<xs:annotation>
					<xs:documentation>Hier ist die Mod-ID des Entgeltabrechnungsprogramms oder der Ausfuellhilfe einzutragen.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Datensatz_ID">
				<xs:annotation>
					<xs:documentation>Datensatz_ID analog der Ausgestaltung der uebrigen Meldeverfahren der Arbeitgeber. </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="btst:DatensatzID_Typ"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Vorgangs_ID" type="btst:DatensatzID_Typ">
				<xs:annotation>
					<xs:documentation>Die Vorgangs-ID ist ein für die meldende Stelle eindeutiges Zuord-nungskriterium für den Meldevorgang, welches unverändert auch für mögliche Stornierungen und Neumeldungen innerhalb des Meldevorgangs verwendet wird.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Aktenzeichen_Verursacher" type="btst:Aktenzeichen_Verursacher_Typ" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Das Aktenzeichen Versursacher steht dem Arbeitgeber zur freien Verfügung.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Stornierung" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Stornokennzeichen" type="btst:Stornokennzeichen_Typ">
							<xs:annotation>
								<xs:documentation>Kennzeichen zur Stornierung der Meldung. Fuer eine Stornierung ist das Kennzeichen "J"zu uebermitteln. </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Stornogrund">
							<xs:annotation>
								<xs:documentation>1 = Zeitraum verkürzt sich: beschäftigte Person arbeitet nicht mehr im Aus-land
2 = Zeitraum verkürzt sich: beschäftigte Person ist weiter in dem/n betref-fenden Mitgliedstaat/en erwerbstätig
3 = Zeitraum verkürzt sich: Person ist nicht mehr bei diesem Arbeitgeber beschäftigt
4 = Beschäftigte Person ist in mehreren Mitgliedstaaten tätig. Der Ab-schluss einer Ausnahmevereinbarung ist nicht länger erforderlich.
5 = Person erfüllt die Entsendevoraussetzungen, so dass der gesendete Antrag nicht erforderlich ist.
6 = Die übermittelten Angaben waren fehlerhaft. Neuer Antrag mit korrekten Angaben folgt.
7 = Die beschäftigte Person hat ihren Lebensmittelpunkt nicht länger in Deutschland
8 = Aufnahme zusätzlicher Erwerbstätigkeit/en: ursprünglicher Sachverhalt liegt nicht mehr vor
9 = Die beschäftigte Person ist nicht länger in mehreren Mitgliedstaaten tätig</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:integer">
									<xs:totalDigits value="2"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Datensatz_ID_Ursprungsmeldung" type="btst:DatensatzID_Typ"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Steuerungsdaten_AG_v3_Ctp">
		<xs:annotation>
			<xs:documentation>Steuerungsdaten und Stornogrund</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Absendernummer" type="btst:Absendernummer_Typ">
				<xs:annotation>
					<xs:documentation>Dabei handelt es sich um die Absendernummer der absendenden Stelle. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Empfaengernummer" type="btst:Absendernummer_Typ">
				<xs:annotation>
					<xs:documentation>In diesem Feld ist die Absendernummer der zustaendigen Stelle einzutragen. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Datum_Erstellung" type="btst:Datum_Zeit_Typ">
				<xs:annotation>
					<xs:documentation>Angabe des Erstelldatums der Meldung.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Prod_ID" type="btst:Prod_ID_Typ">
				<xs:annotation>
					<xs:documentation>Hier ist die Prod-ID des Entgeltabrechnungsprogramms oder der Ausfuellhilfe einzutragen.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Mod_ID" type="btst:Mod_ID_Typ">
				<xs:annotation>
					<xs:documentation>Hier ist die Mod-ID des Entgeltabrechnungsprogramms oder der Ausfuellhilfe einzutragen.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Datensatz_ID">
				<xs:annotation>
					<xs:documentation>Datensatz_ID analog der Ausgestaltung der uebrigen Meldeverfahren der Arbeitgeber. </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="btst:DatensatzID_Typ"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Vorgangs_ID" type="btst:DatensatzID_Typ">
				<xs:annotation>
					<xs:documentation>Die Vorgangs-ID ist ein für die meldende Stelle eindeutiges Zuord-nungskriterium für den Meldevorgang, welches unverändert auch für mögliche Stornierungen und Neumeldungen innerhalb des Meldevorgangs verwendet wird.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Aktenzeichen_Verursacher" type="btst:Aktenzeichen_Verursacher_Typ" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Das Aktenzeichen Versursacher steht dem Arbeitgeber zur freien Verfügung.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Stornierung" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Stornokennzeichen" type="btst:Stornokennzeichen_Typ">
							<xs:annotation>
								<xs:documentation>Kennzeichen zur Stornierung der Meldung. Fuer eine Stornierung ist das Kennzeichen "J"zu uebermitteln. </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Datensatz_ID_Ursprungsmeldung" type="btst:DatensatzID_Typ"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>